<section class="educations">

    <div class="container" id="educations-content">
        <div class="row">
            <div class="col-md-6" id="university">
        
                 <h4>University</h4>
                 
                <div class="status">

                    <!--<h5>Finished</h5>-->

                    <h5>In progress</h5>
                    <div class="education">
                       <h6>Bachelor's Degree in Computer Systems</h6>
                        <div class="information">
                            <p>National University of General Sarmiento</p>
                            <p>Aug 2021</p>
                        </div>
                    </div>
                    <div class="education">
                        <h6>University Technical Degree in Systems</h6>
                        <div class="information">
                            <p>National University of General Sarmiento</p>
                            <p>Aug 2021</p>
                        </div>
                    </div>
                    
                </div>

            </div>
            <div class="col-md-6" id="certifications">
                <h4 >Certifications</h4>
                <div class="status">
                    <div class="row">

                        <div class="col-6">
                            <h5>Finished</h5>
                            <div class="education">
                                <h6>Junior Full Stack Web Developer</h6>
                                <div class="information">
                                    <p>Argentina Programa #YoProgramo</p>
                                </div>
                                <div class="certificate">
                                    <p>May 2023</p> <a href="https://drive.google.com/file/d/1bMqn36-KbZgzeBkSntqrJ3isqQKdGcj0/view?usp=sharing" target="_blank">Certificate</a>
                                </div>
                            </div>
                            <div class="education">
                                <h6>Java: essential object-relational mapping (ORM)</h6>
                                <div class="information">
                                    <p>LinkedIn Learning</p>
                                </div>
                                <div class="certificate">
                                    <p>Jul 2023</p> <a href="https://www.linkedin.com/learning/certificates/52680b741fa8872a4056768cb41070b855008eeb52429db070b7b0ce850b11c6?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BmCcW75KSTbemu1GC%2B%2BtNiA%3D%3D" target="_blank">Certificate</a>
                                </div>
                            </div>		
                            <div class="education">
                                <h6>Web services</h6>
                                <div class="information">
                                    <p>LinkedIn Learning</p>
                                </div>
                                <div class="certificate">
                                    <p>Oct 2023</p> <a href="https://www.linkedin.com/learning/certificates/167dd2b9436ccaf39119b37c61960cca9e0b83a6e6a966f9be1af0b73a69168a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BmCcW75KSTbemu1GC%2B%2BtNiA%3D%3D" target="_blank">Certificate</a>
                                </div>
                            </div>
                            <div class="education">
                                <h6>Essential MySQL</h6>
                                <div class="information">
                                    <p>LinkedIn Learning</p>
                                </div>
                                <div class="certificate">
                                    <p>Jun 2023</p> <a href="https://www.linkedin.com/learning/certificates/5a00e110533e6ae6ce2695211623f2e0b8688303e44baa20ecae7776a67ed79f?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BmCcW75KSTbemu1GC%2B%2BtNiA%3D%3D" target="_blank">Certificate</a>
                                </div>
                            </div>	
                            <div class="education">
                                <h6>Essential Spring Boot</h6>
                                <div class="information">
                                    <p>LinkedIn Learning</p>
                                </div>
                                <div class="certificate">
                                    <p>Sep 2023</p> <a href="#" target="_blank">Certificate</a>
                                </div>
                            </div>		
                        </div>		
                    
                        <div class="col-sm-6">
                            <h5>In progress</h5>
                            <div class="education">
                                <h6>Software Developer</h6>
                                <div class="information">
                                    <p>Digital NAO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        
        </div>
    </div>

</section>