section {
    background-color: #7cc3ea;
    padding: 5%;
    color: aliceblue;
    font-family: 'Sniglet', system-ui;
}

a{
    color: #68A4C4;
    text-decoration: none;
    transition: font-size 0.1s ease; 
}

a:hover{
    color: aliceblue;
    font-size: 1.05em;
}

h6{
    font-weight: 600;
}

h6, a, p{
    margin: 0%;
}

.education{
    margin: 5%;
}