<div class="skills">
    <div class="cloudcontainer">
        <img src="../../assets/cloudsection1.png" alt="cloud" id="upper">
    </div>
    <section>
        <h3 style="text-align: center; margin-bottom: 3%;">If you are looking for...</h3>
        
        <div class="container text-center">
            <div class="row">
              <div class="col-5">
                English B2
              </div>
              <div class="col">
                
              </div>
              <div class="col-5">
                Assertive communication
              </div>
            </div>
            <div class="row">
                <div class="col-5">
                  
                </div>
                <div class="col">
                  Problem solving
                </div>
                <div class="col-5">
                  
                </div>
            </div>
            <div class="row">
                <div class="col-6 align-self-end">
                  Emotional control
                </div>
                <div class="col-6 align-self-start">
                    Individual and team work
                </div>
            </div>
            <div class="row">
                <div class="col-">
                  Continuous learning
                </div>
            </div>
        </div>  

        <h3 style="text-align: center; margin-top: 3%;">we are a good match! :)</h3>
    </section>
    <div class="cloudcontainer">
        <img src="../../assets/cloudsection2.png" alt="cloud" id="bottom">
    </div>
</div>