<div class="skills">
    <div class="cloudcontainer">
        <img src="../../assets/cloudsection1.png" alt="cloud" id="upper">
    </div>
    <section>
        <h3 style="text-align: center; margin-bottom: 3%;">If you're looking for...</h3>
        <ul>
            <li>
                <h4>English B2</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi dolor voluptatibus numquam sed ea facilis temporibus illo natus, fugiat molestias earum veniam autem consequatur quasi consectetur quos eum, magni laboriosam!</p>
            </li>
            <li>
                <h4>Problem solving</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi dolor voluptatibus numquam sed ea facilis temporibus illo natus, fugiat molestias earum veniam autem consequatur quasi consectetur quos eum, magni laboriosam!</p>
            </li>
            <li>
                <h4>Problem solving</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi dolor voluptatibus numquam sed ea facilis temporibus illo natus, fugiat molestias earum veniam autem consequatur quasi consectetur quos eum, magni laboriosam!</p>
            </li>
            <li>
                <h4>Problem solving</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi dolor voluptatibus numquam sed ea facilis temporibus illo natus, fugiat molestias earum veniam autem consequatur quasi consectetur quos eum, magni laboriosam!</p>
            </li>
            <li>
                <h4>Problem solving</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi dolor voluptatibus numquam sed ea facilis temporibus illo natus, fugiat molestias earum veniam autem consequatur quasi consectetur quos eum, magni laboriosam!</p>
            </li>
        </ul>
        <h3 style="text-align: center; margin-top: 3%;">we're a good match.</h3>
    </section>
    <div class="cloudcontainer">
        <img src="../../assets/cloudsection2.png" alt="cloud" id="bottom">
    </div>
</div>