<section>
    <div class="container">
        <img src="../../assets/cloud1.png" alt="">
        <div class="text">
            <h3>About me</h3>
            <p>
                My passion and experience is based on goal planning, application design and programming, testing, problem solving and refactoring, either individually or in a team. 
                <br>
                Actually, I continue expanding my knowledge as a Bachelor of Systems student and self-taught, while I am open to positions such as Software or Java Engineer or Developer.
                <br>
                Two of my goals are to meet and even exceed expectations and increase my knowledge and skills to achieve personal and professional growth. 
                <br>
                <a class="resume-link" href="#">download my resume</a>
            </p>
        </div>
    </div>    
</section>