section {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100vw;
    height: 100vh;
    background-color: #7cc3ea;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 80vw;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
    height: auto; /* Para mantener la proporción de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
}
p{
    font-family: 'Sniglet', system-ui;
    margin-bottom: 0px;
}
a{
    font-family: 'Sniglet', system-ui;
    font-weight: 700;
    font-size: 1em; 
    text-decoration: none;
    animation: enlargeAndShrink 4s infinite ease-in-out;
    color: #7cc3ea;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7cc3ea;
    font-size: 2vw; /* Utiliza unidades de vista (vw) para hacer el texto responsive */
    text-align: center;
    font-size: 1em;
    
}

h3{
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em !important;
}

@media (max-width: 768px) {
    .container {
        width: 93vw;
    }
    p{
        font-size: 0.8em;
    }
}

@keyframes enlargeAndShrink {
    0%, 100% {
        font-size: 1em; 
    }
    50% {
        font-size: 1.13em; 
    }
}
