/*
body {
    cursor: url('resources/cursor.png'), auto !important;
    filter: drop-shadow(0 0 0 transparent) !important;
}
*/


/****NAVBAR****/

.navbar-container {
    width: 20%;
    height: 20%;
    position: fixed;
    z-index: 9999;
}

.navbar {
    position: fixed;
    left: -60px;
    transform: translateY(50%);
    background-color: transparent;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1;
}
    
.navbar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    
.navbar-content a {
    color: aliceblue;
    text-shadow:
        1.5px 0 0 #7cc3ea,
        0 1.5px 0 #7cc3ea,
        -1.5px 0 0 #7cc3ea,
        0 -1.5px 0 #7cc3ea;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: 'Sniglet', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.navbar-content a:hover {
    animation: enlargeAndShrink 4s ease-in-out forwards;
}

    
.navbar-container:hover .navbar, .navbar:hover {
    left: 0; 
}
    
@keyframes enlargeAndShrink {
    0%, 100% {
        font-size: 1em; 
    }
    50% {
        font-size: 1.13em; 
    }
}

/****HEADER****/

#header-section {
    height: 100vh;
    background-image: url("resources/background.jpeg");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header-section h1, header h2 {
    margin: 0;
    color: aliceblue;
}
#header-section h1{
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 3.1em;
}
#header-section h2{
    font-size: 2.1em;
    font-family: 'Sniglet', system-ui;
}


/****ABOUT ME****/

#about-me-section {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100vw;
    min-height: 100vh;
    background-color: #7cc3ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    position: relative;
    width: 80vw;
    margin: 0px;
    padding: 0px;
}

.about-me-container img {
    width: 100%;
    height: auto; 
    display: block; 
}

.about-me-text p{
    font-family: 'Sniglet', system-ui;
    margin-top: 5%;
    margin-bottom: 3% !important;
    font-size: 98%; 
}
.about-me-text a{
    font-family: 'Sniglet', system-ui;
    font-weight: 700;
    font-size: 1em; 
    text-decoration: none;
    animation: enlargeAndShrink 4s infinite ease-in-out;
    color: #7cc3ea;
}
.about-me-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7cc3ea;
    font-size: 2vw; 
    text-align: center;
    font-size: 1em;
    
}

.about-me-text h3{
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em !important;
}

@media (max-width: 768px) {
    .about-me-container {
        width: 93vw;
    }
    .about-me-text p{
        font-size: 0.8em;
    }
}

@keyframes enlargeAndShrink {
    0%, 100% {
        font-size: 1em; 
    }
    50% {
        font-size: 1.13em; 
    }
}
.about-me-text a{
    margin-right: 7%;
}

/****EDUCATION****/

#education-section {
    background-color: #7cc3ea;
    padding: 3%;
    color: aliceblue;
    font-family: 'Sniglet', system-ui;
    min-height: 100vh;
}

#education-section a {
    color: #64a1c3 !important;
    text-decoration: none !important;
    transition: font-size 0.1s ease; 
}

#education-section a:hover {
    animation: enlargeAndShrink 4s ease-in-out forwards;
}

#education-section h6 {
    font-weight: 900 !important;
}

#education-section h3 {
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
    margin-bottom: 3%;
}

#education-section h4 {
    font-weight: 900 !important;
}

#education-section h6, #education-section a, #education-section p {
    margin: 0% !important;
}

.education {
    margin: 0%;
    margin-bottom: 1.4em;
}

.education-cloud {
    height: 80vh;
    width: auto;
    position: absolute;
    transform: translate(-50%, 0%);
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .education-cloud {
        transform: translate(-60%, 0%);
    }
}

@media (max-width: 992px) {
    .education-cloud {
        transform: translate(-70%, 0%);
    }
}

@media (max-width: 768px) {
    .education-cloud {
        transform: translate(-150%, 0%);
    }
}

@media (max-width: 576px) {
    .education-cloud {
        transform: translate(-150%, 0%);
    }
}

@media (max-width: 400px) {
    .education-cloud {
        transform: translate(-150%, 0%);
    }
}


/****EXPERIENCE****/
/*
#experience-section {
    background-color: #7cc3ea;
    padding: 5%;
    color: #f0f8ff;
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sniglet', system-ui;
}

#experience-section img{
    position: absolute;
    right: 0;
    width: 70vw; 
    transform: translateX(52.5%);
}

.experience{
    text-align: center;
}


#experience-section h6{
    font-weight: 600;
    margin: 0%;
}

#experience-section h3{
    margin-bottom: 2%;
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
}

#experience-section p{
    margin: 0;
}


.exp-information {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px; 
}

.exp-information p {
    margin: 0; 
}

.exp-description { 
    text-align: left;
    transform: translateX(-8%);
    width: 80%;
    margin: 0 auto; 
}

#space{
    margin-right: 5px !important;
}

#experience-section h6{
    font-size: 1.23em;
}
*/

/* TECHNOLOGIES */
#technologies-section {
    min-height: 100vh;
    background-color: #7cc3ea;
    color: aliceblue;
    font-family: 'Sniglet', system-ui;
    padding: 2%;
    padding-bottom: 5vh;
    padding-top: 2vh;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.header img {
    width: 40%;
}
  
#cloud2{
    transform: translate(-10%, 15%);
}

#technologies-section h3 {
    margin: 0;
    margin-bottom: 1.25%;
    margin-top: 2%;
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
}

.technologies{
    width: 40vw;
}

.technologies, .more-technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    align-items: center;
    margin: 0 auto !important;
}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology img {
    width: 3em;
    margin-bottom: 10px;
}

.techtitle {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 5px;
}

#technologies-section p {
    margin-bottom: 0;
}

#technologies-section h4 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {


    .techtitle {
        font-size: 1em;
    }

    h3 {
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .header img {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .technology {
        width: calc(50% - 10px); 
        
    }
    .header img {
        width: 40%;
    }
}

/****SOFT SKILLS****/

#soft-skills-section h4, #soft-skills-section img {
    margin: 0;
    padding: 0;
}

#soft-skills-section {
    width: 100vw;
    background-color: aliceblue;
    color: #7cc3ea;
    font-family: 'Sniglet', system-ui;
}
 /*68a4c4*/
#soft-skills-section h3 {
    color: #7cc3ea;
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
    text-align: center;
}

#soft-skills-section h4{
    font-size: 1.3em;
}

#soft-skills-section img {
    width: 110vw;
    height: 20vw;
    transform: translateX(-5vw) !important;
    background-color: #7cc3ea;
}

.cloudcontainer {
    width: 100vw;
    overflow: hidden;
}

.skills{
    background-color: #7cc3ea;
}

/****PROJECTS****/



/****CONTACT****/
#contact-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Ensure section takes full viewport height */
    background-color: #7cc3ea;
    overflow: hidden; /* Hide any overflow from the image */
}

#contact-section .text {
    text-align: center;
    color: #ffffff;
    z-index: 1; /* Ensure text is above the image */
}

#contact-section h3 {
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 1.8em;
    margin: 0; 
}

#contact-section a {
    font-family: 'Sniglet', system-ui;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff; 
    font-size: 1em;
}

#contact-section a:hover {
    animation: enlargeAndShrink 4s ease-in-out forwards;
}

#contact-section img {
    width: 100%;
    position: absolute;
    bottom: 0; /* Position image at the bottom */
    left: 0;
    z-index: 0; /* Ensure image is behind the text */
}

@keyframes enlargeAndShrink {
    0%, 100% {
        font-size: 1em; 
    }
    50% {
        font-size: 1.13em; 
    }
}

/****General****/

body{
    overflow-x: hidden;
}

/*scrollbar*/

body {
    --sb-track-color: #7cc3ea;
    --sb-thumb-color: #ffffff;
    --sb-size: 10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 15px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 15px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }