/***CURSOR
body {
    cursor: url('resources/cursor.png') 0 0, auto !important;
}
***/

/****NAVBAR****/

.navbar-container {
    width: 20%;
    height: 20%;
    position: fixed;
    z-index: 9999;
}

.navbar {
    position: fixed;
    left: -60px;
    transform: translateY(50%);
    background-color: transparent;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1;
}
    
.navbar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    
.navbar-content a {
    color: aliceblue;
    text-shadow:
        1.5px 0 0 #7cc3ea,
        0 1.5px 0 #7cc3ea,
        -1.5px 0 0 #7cc3ea,
        0 -1.5px 0 #7cc3ea;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: 'Sniglet', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.navbar-content a:hover {
    animation: enlargeAndShrink 4s ease-in-out forwards;
}

    
.navbar-container:hover .navbar, .navbar:hover {
    left: 0; 
}
    
@keyframes enlargeAndShrink {
    0%, 100% {
        font-size: 1em; 
    }
    50% {
        font-size: 1.13em; 
    }
}

/****HEADER****/

#header {
    height: 100vh;
    background-image: url("resources/background.jpeg");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header h1, header h2 {
    margin: 0;
    color: aliceblue;
}
#header h1{
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 3.1em;
}
#header h2{
    font-size: 2.1em;
    font-family: 'Sniglet', system-ui;
}


/****ABOUT ME****/

.about-me-section {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 100vw;
    min-height: 100vh;
    background-color: #7cc3ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    position: relative;
    width: 80vw;
    margin: 0px;
    padding: 0px;
}

.about-me-container img {
    width: 100%;
    height: 95vh; 
    display: block; 
}

.about-me-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7cc3ea;
    width: 90%;
    padding: 5%;
    box-sizing: border-box;
}

.about-me-text h3 {
    text-align: center;
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center !important;
}

.about-me-text p {
    font-family: 'Sniglet', system-ui;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
}

.about-me-text a {
    font-family: 'Sniglet', system-ui;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    animation: enlargeAndShrink 4s infinite ease-in-out;
    color: #7cc3ea;
}

.resumes{
    display: flex;
    flex-wrap: wrap;
    margin:3px;
    justify-content: space-evenly;
}

@keyframes enlargeAndShrink {
    0%, 100% {
        font-size: 1.07em; 
    }
    50% {
        font-size: 1.13em; 
    }
}

@media (max-width: 900px) {
    .about-me-container {
        width: 97vw;
    }

    .about-me-container img {
        content: url('resources/cloud111.png'); /* Cambia la imagen */
        width: 95vw;
        height: 70vh;
    }

    .about-me-text {
        width: 75%;
        padding: 4%;
    }

    .about-me-text h3 {
        font-size: 2em;
        margin-bottom: 0px !important;
    }

    .about-me-text p {
        font-size: 0.9em;
    }
    .about-me-text a {
        animation: none;
        display: flex;
        justify-content: center;
    }
    

}

/****EDUCATION****/

#education {
    background-color: #7cc3ea;
    padding: 3%;
    color: aliceblue;
    font-family: 'Sniglet', system-ui;
    min-height: 100vh;
}

#education a {
    color: aliceblue;
    z-index: 99 !important;

}

#education h6 {
    font-weight: 900 !important;
}

#education h3 {
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
    margin-bottom: 3%;
    text-align: center;
}

#education h4 {
    font-weight:900;
    padding-top: 1%;
    padding-bottom: 1%;
}

#education h6, #education a, #education p {
    margin: 0% !important;
}

.education {
    margin-bottom: 1.5em;
}

.education-cloud {
    height: 80vh;
    width: auto;
    position: absolute;
    transform: translate(-50%, 0%);
}

@media (max-width: 1200px) {
    .education-cloud {
        transform: translate(-60%, 0%);
    }
}

@media (max-width: 992px) {
    .education-cloud {
        transform: translate(-70%, 0%);
    }
}

@media (max-width: 768px) {
    .education-cloud {
        transform: translate(-150%, 0%);
    }
    .educations-content{
        justify-content: center;
        margin:auto;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .education-cloud {
        transform: translate(-150%, 0%);
    }
    .educations-content{
        justify-content: center;
        margin:auto;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .education-cloud {
        transform: translate(-150%, 0%);
    }
    .educations-content{
        justify-content: center;
        margin:auto;
        align-items: center;
    }
}


/****EXPERIENCE****/

/* TECHNOLOGIES */
#technologies {
    min-height: 100vh;
    background-color: #7cc3ea;
    color: aliceblue;
    font-family: 'Sniglet', system-ui;
    padding: 2%;
    padding-bottom: 5vh;
    padding-top: 2vh;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.header img {
    width: 40%;
}
  
#cloud2{
    transform: translate(-10%, 15%);
}

#technologies h3 {
    margin: 0;
    margin-bottom: 1.25%;
    margin-top: 2%;
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
}

.technologies{
    width: 40vw;
}

.technologies, .more-technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    align-items: center;
    margin: 0 auto !important;
}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology img {
    width: 3em;
    margin-bottom: 10px;
}

.techtitle {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 5px;
}

#technologies p {
    margin-bottom: 0;
}

#technologies h4 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {

    .technologies{
        width: 55vw;
    }


    .techtitle {
        font-size: 1em;
    }

    h3 {
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .header img {
        width: 40%;
    }
}

@media (max-width: 480px) {

    .technologies{
        width: 70vw;
    }

    .technology {
        width: calc(50% - 10px); 
        
    }
    .header img {
        width: 40%;
    }
}
/*PROJECTS*/

#projects {
    position: relative; /* Necesario para posicionar elementos dentro del section */
    background-color: #7cc3ea;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita el scroll para las imágenes que sobresalen */
    color: aliceblue;
}

#projects h3, #projects p, #project-title h4{
    z-index: 9999  !important;
    text-shadow: 1px 0 0 #7cc3ea, 0 1px 0 #7cc3ea, -1px 0 0 #7cc3ea, 0 -1px 0 #7cc3ea !important;
}

#projects h3{
    margin-top: 10vh;
}

.project{
    width: 45vw;
}

.project-text{
    display: flex !important;
}
.project-bold-text{
    margin-right: 1%;
    font-weight: bolder;
}

#projects-cloud1 {
    position: absolute;
    top: 0%;
    left: -15vw;
    height: 45vh;
    width: auto;
    z-index: 1;
}
#projects-cloud2 {
    position: absolute;
    bottom: 0%;
    right: -15vw;
    height: 45vh;
    width: auto;
}

#projects h4{
    font-family: 'Sniglet', system-ui;
    font-weight: bold;
    text-align: center;
    z-index: 9999 !important;
    text-shadow: 1px 0 0 #7cc3ea, 0 1px 0 #7cc3ea, -1px 0 0 #7cc3ea, 0 -1px 0 #7cc3ea !important;
}

#toggle-button {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: auto;
    z-index: 10;
}

@media (max-width: 1150px) {
    #projects-cloud1 {
        left: -10vw;
        height: 25vh;
    }
    #projects-cloud2 {
        right: -10vw;
        height: 25vh;
    }
    .project{
        width: 65vw;
    }
}
@media (max-width: 600px) {
    #projects-cloud1 {
        left: -15vw;
        height: 20vh;
    }
    #projects-cloud2 {
        right: -15vw;
        height: 20vh;
    }
    .project{
        width: 80vw;
    }
}



/****SOFT SKILLS****/

#soft-skills-section h4, #soft-skills-section img {
    margin: 0;
    padding: 0;
}

#soft-skills-section {
    width: 100vw;
    background-color: aliceblue;
    color: #7cc3ea;
    font-family: 'Sniglet', system-ui;
}

#soft-skills-section h3 {
    color: #7cc3ea;
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
    text-align: center;
}

#soft-skills-section h4{
    font-size: 1.3em;
}

#soft-skills-section p{
    margin: 0;
    padding: 0;
}

#soft-skills-section img {
    width: 100vw;
    height: 20vw;
    background-color: #7cc3ea;
}

.cloudcontainer {
    width: 100vw;
    overflow: hidden;
}

.skills {
    background-color: #7cc3ea;
}

#soft-skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

.skill-item {
    width: calc(33% - 1em);
    box-sizing: border-box;
    text-align: center;
    color: #7cc3ea;
}

@media (max-width: 768px) {
    .skill-item {
        width: calc(50% - 1em);
    }

    .text-center {
        text-align: center !important;
    }
}

@media (max-width: 576px) {
    .skill-item {
        width: calc(100% - 1em);
    }

    .text-center {
        text-align: center !important;
    }
}

/**** LANGUAGES ****/
#languages {
    background-color: #7cc3ea;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
}

#languages h3 {
    margin: 0;
    color: #7cc3ea;
    position: relative;
    padding: 4em;
    padding-top: 4em;
    padding-bottom: 4em;
    background-image: url('resources/cloud1.png');
    background-size: contain; /* Ajusta la imagen al tamaño del texto */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 5vh;
}

#languages p {
    margin: 0;
}

.lang-text {
    position: relative;
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
}



/****CONTACT****/
#contact-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background-color: #7cc3ea;
}

#contact-section .text {
    text-align: center;
    color: aliceblue;
    z-index: 1;
}

#contact-section h3 {
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 1.8em;
    margin: 0; 
}

#contact-section a {
    font-family: 'Sniglet', system-ui;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue; 
    font-size: 1em;
}

#contact-section a:hover {
    animation: enlargeAndShrink 4s ease-in-out forwards;
}

#resume-link2 a{
    margin-right: 0px !important;
    padding: 0px !important;
}

#contact-section img {
    width: 100%;
    position: absolute;
    bottom: 0; 
    left: 0;
    z-index: 0; 
}

@keyframes enlargeAndShrink {
    0%, 100% {
        font-size: 0.9em; 
    }
    50% {
        font-size: 1em; 
    }
}


/****COPYRIGHT****/

.copyright{
    background-color: aliceblue;
    color: #7cc3ea;
    text-align: center;
}

.copyright p{
    padding: 0%;
    margin: 0%;
    font-family: 'Sniglet', system-ui;
}

/****General****/

body{
    overflow-x: hidden;
}

h3 {
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 1.8em;
}

p{
    font-family: 'Sniglet', system-ui;
    font-size: 1em;
}

/*scrollbar*/

body {
    --sb-track-color: #7cc3ea;
    --sb-thumb-color: #ffffff;
    --sb-size: 10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 15px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 15px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

 