/****NAVBAR****/

.navbar-container {
    width: 20%;
    height: 20%;
    position: fixed;
    z-index: 9999;
}

.navbar {
    position: fixed;
    left: -80px;
    transform: translateY(50%);
    background-color: transparent;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1;
}
    
.navbar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    
.navbar-content a {
    color: aliceblue;
    -webkit-text-stroke: 0.01px #ffffff;
    text-shadow:
        1.5px 0 0 #7cc3ea,
        0 1.5px 0 #7cc3ea,
        -1.5px 0 0 #7cc3ea,
        0 -1.5px 0 #7cc3ea;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: 'Sniglet', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.navbar-content a:hover {
    animation: enlargeAndShrink 4s ease-in-out forwards;
}

    
.navbar-container:hover .navbar, .navbar:hover {
    left: 0; 
}
    
@keyframes enlargeAndShrink {
    0%, 100% {
        font-size: 1em; 
    }
    50% {
        font-size: 1.13em; 
    }
}

/****HEADER****/

#header-section {
    height: 100vh;
    background-image: url("resources/background.jpeg");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header-section h1, header h2 {
    margin: 0;
    color: aliceblue;
}
#header-section h1{
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 3.1em;
}
#header-section h2{
    font-size: 2.1em;
    font-family: 'Sniglet', system-ui;
}


/****ABOUT ME****/

#about-me-section {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100vw;
    height: 100vh;
    background-color: #7cc3ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    position: relative;
    width: 80vw;
    margin: 0px;
    padding: 0px;
}

.about-me-container img {
    width: 100%;
    height: auto; 
    display: block; 
}

.about-me-text p{
    font-family: 'Sniglet', system-ui;
    margin-top: 5%;
    margin-bottom: 3% !important;
    font-size: 98%; 
}
.about-me-text a{
    font-family: 'Sniglet', system-ui;
    font-weight: 700;
    font-size: 1em; 
    text-decoration: none;
    animation: enlargeAndShrink 4s infinite ease-in-out;
    color: #7cc3ea;
}
.about-me-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7cc3ea;
    font-size: 2vw; 
    text-align: center;
    font-size: 1em;
    
}

.about-me-text h3{
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em !important;
}

@media (max-width: 768px) {
    .about-me-container {
        width: 93vw;
    }
    .about-me-text p{
        font-size: 0.8em;
    }
}

@keyframes enlargeAndShrink {
    0%, 100% {
        font-size: 1em; 
    }
    50% {
        font-size: 1.13em; 
    }
}
.about-me-text a{
    margin-right: 7%;
}

/****EDUCATION****/

#education-section {
    background-color: #7cc3ea;
    padding: 5%;
    color: aliceblue;
    font-family: 'Sniglet', system-ui;
}

.educations a{
    color: #68A4C4;
    text-decoration: none;
    transition: font-size 0.1s ease; 
}

.educations a:hover{
    color: aliceblue;
    font-size: 1.05em;
}

.educations h6{
    font-weight: 600;
    
}

.educations h3{
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
}

.educations h4{
    font-weight: 600;
}

.educations h6, a, p{
    margin: 0%;
}

.education{
    margin: 5%;
}

.education, .certificate, #university, #certifications {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.education{
    margin-top:2%;
    margin-bottom:2%;
}

/****EXPERIENCE****/

#experience-section {
    background-color: #7cc3ea;
    padding: 5%;
    color: #f0f8ff;
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sniglet', system-ui;
}

#experience-section img{
    position: absolute;
    right: 0;
    width: 70vw; 
    transform: translateX(50%);
}

.experience{
    text-align: center;
}


#experience-section h6{
    font-weight: 600;
    margin: 0%;
}

#experience-section h3{
    margin-bottom: 2%;
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
}

#experience-section p{
    margin: 0;
}


.exp-information {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px; 
}

.exp-information p {
    margin: 0; 
}

.exp-description { 
    text-align: left;
    transform: translateX(-8%);
    width: 80%;
    margin: 0 auto; 
}

#space{
    margin-right: 5px;
}

#experience-section h6{
    font-size: 1.23em;
}

/****TECHNOLOGIES****/

#technologies-section {
    background-color: #7cc3ea;
    color: aliceblue;
    font-family: 'Sniglet', system-ui;
    padding: 2%;
    text-align: center;
}

.header img {
    width: 40%;
}

#technologies-section h3 {
    margin: 0;
    margin-bottom: 1.25%;
    margin-top: 2%;
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
}

.technology {
    margin-bottom: 10%;
    text-align: center;
    padding: 20%;
}

.technology img {
    width: 3em;
}

.technologies {
    display: flex;
    justify-content: center;
}

.techtitle {
    font-weight: 600;
    font-size: calc(1.1em);
    margin-bottom: 2px;
}

#technologies-section p {
    margin-bottom: 0;
}

#technologies-section h4{
    font-weight: 600;
}


@media (max-width: 768px) {
    .header img {
        width: 100%;
    }

    .technology {
        padding: 0.2em;
        margin: 2%;
    }

    .technologies {
        flex-wrap: wrap;
        margin: 0%;
    }

    .techtitle {
        font-size: 1em;
    }

    .technology {
        flex: 0 0 100%;
    }
    h3 {
        margin-bottom: 3%;
        margin-top: 3%;
    }
}

/****SOFT SKILLS****/

#soft-skills-section h4, #soft-skills-section img {
    margin: 0;
    padding: 0;
}

#soft-skills-section {
    width: 100vw;
    background-color: aliceblue;
    color: #7cc3ea;
    font-family: 'Sniglet', system-ui;
}
 /*68a4c4*/
#soft-skills-section h3 {
    color: #7cc3ea;
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2%;
}

#soft-skills-section h4{
    font-size: 1.3em;
}

#soft-skills-section img {
    width: 110vw;
    height: 20vw;
    transform: translateX(-5vw) !important;
    background-color: #7cc3ea;
}

.cloudcontainer {
    width: 100vw;
    overflow: hidden;
}

.skills{
    background-color: #7cc3ea;
}

/****PROJECTS****/

#projects-section{
    background-color: #7cc3ea;
    position: relative;
}

#projects-section .image-container {
    position: absolute;
    position: relative;
    display: inline-block;
    color: #7cc3ea;
    text-align: center; 
  }
  
#projects-section .hover-image {
    position: absolute;
    width: 40vw;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
#projects-section .image-container:hover .hover-image {
    opacity: 1;
}
  
#projects-section .original-image {
    display: block;
    width: 40vw;
    height: auto;
}
  
#projects-section #cloud1{
    transform: translate(30%, 35%);
}

#projects-section #cloud2{
    transform: translate(20%, 35%);
}

#projects-section #cloud3{
    transform: translate(73%, -10%);
}
  

/****CONTACT****/

#contact-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #7cc3ea;
}

#contact-section .text {
    position: absolute;
    text-align: center;
    color: #ffffff;
    margin-top: 15%;
}

#contact-section h3 {
    font-family: 'KawaiiBubble', sans-serif;
    font-size: 1.8em;
    margin: 0; 
}

#contact-section a {
    font-family: 'Sniglet', system-ui;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff; 
    font-size: 1em;
    
}

#contact-section a:hover {
    animation: enlargeAndShrink 4s ease-in-out forwards;
}

#contact-section img {
    width: 100vw;
    display: block; 
}

@keyframes enlargeAndShrink {
    0%, 100% {
        font-size: 1em; 
    }
    50% {
        font-size: 1.13em; 
    }
}

/****General****/

body{
    overflow-x: hidden;
}

/*scrollbar*/

body {
    --sb-track-color: #7cc3ea;
    --sb-thumb-color: #ffffff;
    --sb-size: 10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 15px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 15px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }