<section class="experience">
    <img src="../../assets/cloud3.png" alt="cloud">
    <h3>Experience</h3>
    <div class="experience">
        <h6>Developer</h6>
        <div class="information">
            <p>No Country</p>
            <p id="space">,</p>
            <p>Jan 2023</p>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione obcaecati voluptatem eveniet adipisci dolore amet! Facilis ducimus ab at labore quidem voluptatibus, nobis sed adipisci, fugit quibusdam aliquid minus odit!</p>
        </div>           
    </div>
</section>