<section class="experience">
    <img src="../../assets/cloud3.png" alt="cloud">
    <h3>Experience</h3>
    <div class="experience">
        <h6>Java Developer</h6>
        <div class="information">
            <p>No Country</p>
            <p id="space">,</p>
            <p>Jan 2023</p>
        </div>
        <div class="description">
            <ul>
                <li>Contribute with creative ideas for the application.</li>
                <li>Organize tasks using agile methodologies like backlog management and SCRUM.</li>
                <li>Program back-end following good practices to meet project requirements.</li>
                <li>Solve problems while staying calm, cool-minded and motivated.</li>
                <li>Effectively and professionally communicate progress and advancements to clients.</li>
            </ul>
        </div>           
    </div>
</section>