<section>
    <div class="image-container">
        <img src="../../assets/proj11.png" id="cloud1" alt="cloud 1" class="original-image">
        <a target="_blank" href="https://github.com/villalbacarolina/CRUD"><img src="../../assets/proj1.png" id="cloud1" alt="cloud 1" class="hover-image"></a>
    </div>    
    <div class="image-container">
        <img src="../../assets/proj22.png" id="cloud2" alt="cloud 3" class="original-image">
        <a target="_blank" href="https://github.com/villalbacarolina/EjercicioEscuelita-SomosPNT"><img src="../../assets/proj2.png" id="cloud2" alt="cloud 2" class="hover-image"></a>
    </div>    
    <div class="image-container">
        <img src="../../assets/proj3.png" id="cloud3" alt="cloud 3" class="original-image">
        <a target="_blank" href="https://github.com/villalbacarolina/portfoliofrontend"><img src="../../assets/proj33.png" id="cloud3" alt="cloud 3" class="hover-image"></a>
    </div>    
</section>
