<section>
    <h3 id="flyingText1">Contact</h3>
    <svg viewBox="0 0 600 400" id="cloud2">
        <defs>
            <filter id="filter" x="0" y="0">
                <feGaussianBlur stdDeviation=".4"/>
            </filter>
        </defs>
        <circle cx="200" cy="80" r="50" fill="#f0f8ff" filter="url(#filter)"/>
        <circle cx="180" cy="120" r="40" fill="#f0f8ff" filter="url(#filter)"/>
        <circle cx="140" cy="100" r="40" fill="#f0f8ff" filter="url(#filter)"/>
        <circle cx="230" cy="125" r="30" fill="#f0f8ff" filter="url(#filter)"/>
        <circle cx="270" cy="115" r="35" fill="#f0f8ff" filter="url(#filter)"/>
        <circle cx="255" cy="65" r="25" fill="#f0f8ff" filter="url(#filter)"/>
    </svg>
    <img class="image" src="https://via.placeholder.com/200" alt="Placeholder Image">
</section>


