section {
    background-color: #7cc3ea;
    color: aliceblue;
    font-family: 'Sniglet', system-ui;
}

.header img{
    width: 40%;
}

h3{
    margin: 0px;
    margin-bottom: 3%;
    margin-top: 2%;
}

.technology {
    margin-bottom: 10%;
    text-align: center; 
    padding: 30%;
}

.technology img {
    width: 3em;
}

.technologies {
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
    .technology {
        margin-bottom: 3%;
    }
}

.col-1 {
    text-align: center;
}

.techtitle{
    font-weight: 600;
    font-size: calc(1.1em);
    margin-bottom: 2px
}

p{
    margin-bottom: 0px
}


