<section id="technologies">
    <div class="container text-center">

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="header">
                    <h3>Technologies</h3>
                    <img src="../../assets/cloud2.svg" alt="cloud">
                    
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-1">

                <div class="technologies">
                    <div class="technology">
                        <img src="../../assets/java.png" alt="Java svg">
                        <p class="techtitle">Java</p>
                        <p>intermediate</p> 
                    </div>
                    <div class="technology">
                        <img src="../../assets/springboot.png" alt="Spring Boot svg">
                        <p class="techtitle">Spring Boot</p>
                        <p>basic</p>
                    </div>
                    <div class="technology" >
                        <img src="../../assets/hibernate.svg" alt="Hibernate svg">
                        <p class="techtitle">Hibernate with JPA</p> 
                            <p>basic</p>
                    </div>
                </div> <!-- Cerrar div faltante -->

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-1">
                <div class="technologies">
                    <div class="technology">
                        <img src="../../assets/maven.png" alt="Maven svg">
                        <p class="techtitle">Maven</p> 
                        <p>basic</p> 
                    </div>
                    <div class="technology">
                        <img src="../../assets/mysql.png" alt="MySQL svg">
                        <p class="techtitle">MySQL</p>
                        <p>basic</p> 
                    </div>
                    <div class="technology">
                        <img src="../../assets/github.svg" alt="GitHub svg">
                        <p class="techtitle">GitHub</p>
                        <p>basic</p> 
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-1">
                <div class="technologies">
                    <div class="technology">
                        <img src="../../assets/gitlab.svg" alt="GitHub svg">
                        <p class="techtitle">GitLab</p>
                        <p>basic</p> 
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row justify-content-center">
        <div class="col-md-1">
            <br>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-1">
            <h4>Other</h4>
            <div class="technologies">
        
                <div class="technology">
                    <p class="techtitle">OOP</p>
                    <p>intermediate</p>
                </div>
                <div class="technology">
                    <p class="techtitle">SOLID</p> 
                    <p>basic</p> 
                </div>
                <div class="technology">
                    <p class="techtitle">UML</p>
                    <p>basic</p>
                </div>
                <div class="technology">
                    <p class="techtitle">SCRUM</p>
                    <p>basic</p>
                </div>
                <div class="technology">
                    <p class="techtitle">Angular</p>
                    <p>basic</p>
                </div>
                <div class="technology">
                    <p class="techtitle">HTML</p>
                    <p>basic</p>
                </div>
                <div class="technology">
                    <p class="techtitle">CSS</p>
                    <p>basic</p>
                </div>
                <div class="technology">
                    <p class="techtitle">Bootstrap</p>
                    <p>basic</p>
                </div>
        
            </div>
        </div>
    </div>

</section>


