@font-face {
    font-family: 'SweetieBubbleGum';
    src: url('assets/fonts/SweetieBubbleGum-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KawaiiBubble'; 
    src: url('assets/fonts/KawaiiBubble-Regular.ttf') format('truetype'); 
}

* {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: blue orange;   /* scroll thumb and track */
  }